{% extends "base.html.twig" %}
{% block title %}
	Tropical wood
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}

{% block body %}

	<section
		id="contents" class="content_tropical container-fluid">
		<!-- entete content -->
		{% include "nav2.html.twig" %}
		<!-- / entete content -->
		<!-- contenue  -->
			<div id="hrs_content"> <div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<div class="entete_tresor">
						<div class="titre_tresor">
							<h4>
								<strong>Trésorerie</strong>
							</h4>
						</div>
						<div class="btn_form_tresor">
							<a href="#" class="btn btn-default btn_gris">
								<span class="fa fa-plus">Formulaires</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / contenue  -->
	</section>
{% endblock %}

