@media print {
    body {
        background-color: #fff;
        margin: 0;
        padding: 0;
        font-family: 'Lato', 'Poppins', sans-serif;
        color: #3f3e3e;
        font-size: 10px;
    }
    #corps {
        width: 18cm;
        padding: 1cm 0.5cm 1cm 0.5cm;
        margin: 0px auto 0px auto;
    }
    header h2 .dore {
        color: #d29e00;
        font-size: 15px
    }
    header h2 .gris {
        margin-left: 0.9cm;
        text-align: end;
        font-size: 15px;
        color: #3c3b3b;
    }
    #corps .rubric {
        margin-top: 0px;
    }
    .titre_rubric {
        display: inline-block;
        width: 100%;
        padding-bottom: 5px;
        color: #d29e00;
        border-bottom: 0.2px solid rgba(200, 200, 200, 0.5);
    }
    .part h4{
        text-decoration: underline;
        margin: 0;
    }
    .data>p:not(:first-child) {
        margin-left: 0px;
    }
    
    table {
        width: 100%;
        background: lavenderblush;
    }
    thead {
        background: #d29e00;
        color: #fff;
    }
    thead>tr>th:first-child {
        min-width: 200px;
    }
    tbody {
        background: lightgray;
    }
    tbody tr td {
        text-align: center;
    }
}