{% extends "base.html.twig" %}
{% block title %}
	Tropical wood
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css')}}">
{% endblock %}

{% block body %}

	<section
		id="contents" class="content_tropical container-fluid">
		<!-- entete content -->
		{% include "nav2.html.twig" %}
		<!-- / entete content -->
		<!-- contenue  -->
			<div id="hrs_content"> <div>
				
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<div class="entete_tresor">
                        <div class="titre_tresor">
                            <h4><strong>Trésorerie</strong></h4>
                        </div>
                        <div class="btn_form_tresor">
                            <a href="#" class="btn btn-default btn_gris" id="show_formulaire">
								<span class="fa fa-plus"></span><span>Formulaires</span>
							</a>
                        </div>
                    </div>
					{# formulaire #}
					<div id="formulaire" class="form_hide">
						<div class="action">
							<button id="action_hide_form"><span class="fa fa-arrow-right"></span></button>
						</div>
						<div class="entete_tresor">
							<div class="titre_tresor">
								<h4><strong>Trésorerie</strong></h4>
							</div>
						</div>
						<div class="form_rec_dep">
							<form action="">
								<div class="form-group">
									<select name="" id="select_tres">
										<option value="depense">Dépense</option>
										<option value="recette">Recette</option>
									</select>
								</div>
								<div class="form-group">
									<label for="">Date *</label>
									<input type="date" id="date">
								</div>
								<div class="form-group">
									<label for="">Désignation *</label>
									<input type="designation" id="designation">
								</div>
								{# si Recette #}
			
								<div class="form-group form_recette">
									<label for="">ID pro</label>
									<input type="text" id="id_pro">
								</div>
								<div class="form-group form_recette">
									<label for="">Client</label>
									<input type="text" id="client">
								</div>
								
								{# fin si recette #}

								{# si Dépense #}
								
								<div class="form-group form_depense">
									<label for="">N° compte</label>
									<input type="text" id="num_compte">
								</div>
								<div class="form-group form_depense">
									<label for="">Fournisseur</label>
									<input type="text" id="fournisseur">
								</div>
								
								{# fin dépense #}

								<div class="form-group">
									<label for="">N° Sage *</label>
									<input type="text" id="sage">
								</div>
								<div class="form-group">
									<label for="">Mode paiement *</label>
									<input type="text" id="mode_pmt">
								</div>
								<div class="form-group">
									<label for="">Compte bancaire *</label>
									<input type="text" id="compte_b">
								</div>
								<div class="form-group">
									<label for="">Monnaie *</label>
									<input type="text" id="monnaie">
								</div>
								<div class="form-group">
									<label for="">Paiement *</label>
									<input type="text" id="paiement" class="input_nombre">
								</div>
								<div class="form-group" id="error_form">
									<p></p>
								</div>
								<div class="form-group last_fg">
									<button class="btn btn-default" id = "ajout_tres"><span>Enregistrer</span></button>
								</div>
							</form>
							{# <div id="test"></div> #}
						</div>
					</div>
					<div class="entete_tresor entete_2">
                        <div class="type_banque">
                            <h4>comptes bancaires</h4>
                        </div>
                        <div class="liste_comptes">
                            <div class="unite_banque">
								<p class="nom_banque">
									BNI <span class="unite">Ar</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
							<div class="unite_banque">
								<p class="nom_banque">
									BNI <span class="unite">EURO</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
							<div class="unite_banque">
								<p class="nom_banque">
									BMOI <span class="unite">Ar</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
							<div class="unite_banque">
								<p class="nom_banque">
									MCB <span class="unite">Ar</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
							<div class="unite_banque">
								<p class="nom_banque">
									BFV <span class="unite">Ar</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
							<div class="unite_banque">
								<p class="nom_banque">
									BOA <span class="unite">Ar</span>
								</p>
								<p class="montant_banque">
									<span class="montant">120000000</span>
								</p>
							</div>
                        </div>
                    </div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 col-xs-12">
					<div class="liste_button_tres">
						<aside class="button_banque">
							<a href="#" class="btn btn_dore" id="btn_recette" data-id = "tableau_recette">
								<span>Recette</span>
							</a>
						</aside>
						<aside class="button_banque">
							<a href="#" class="btn btn_gris" id="btn_depense" data-id ="tableau_depense">
								<span>Dépense</span>
							</a>
						</aside>
					</div>
					<div class="filtre_tresor">
						<aside class="part_filter">
							<div class="form_date">
								<form action="" class="form-inline">
									<div class="form-group">
										<label for="">Date</label>
										<input type="date" id="date1">
									</div>
									<div class="form-group">
										<input type="date" id="date2">
									</div>
									<div class="form-group">
										<button class="btn_black_tres" id="trier_by_btn_ok"><span>OK</span></button>
									</div>
								</form>
							</div>
							<div class="form_search">
								<span class="fa fa-search"></span><input type="text" id="serch_tresorerie" placeholder="Rechercher">
							</div>
						</aside>
						<aside class="part_filter">
							<div class="form_select">
								<form action="" class="form-inline">
									<div class="form-group">
										<select name="" id="" class="form-control">
											<option value="">Mode de paiement</option>
										</select>
									</div>
									<div class="form-group">
										<select name="" id="" class="form-control">
											<option value="">Compte bancaire</option>
										</select>
									</div>
									<div class="form-group">
										<select name="" id="" class="form-control">
											<option value="">Monnaie</option>
										</select>
									</div>
								</form>
							</div>
						</aside>
					</div>
					<div class="tableau_tropical tableau_scroll tab_active" id="tableau_recette">
						<div class="table_content">
							<div class="table_header">
								<div class="t_header_row t_header_trans t_header_tres">
									<div class="tres_date">
										<span>Date</span>
									</div>
									<div class="tres_des">
										<span>Désignation</span>
									</div>
									<div class="tres_idPro">
										<span>ID Pro</span>
									</div>
									<div class="tres_sage">
										<span>N° Sage</span>
									</div>
									<div
										class=" tres_client">
										
										<span>Client</span>
									</div>
									<div class="tres_mode_p">
										<span>Mode de paiement</span>
									</div>
									<div class="tres_compte_b">
										<span>Compte bancaire</span>
									</div>
									<div class="tres_monnaie">
										<span>Monnaie</span>
									</div>
									<div class="tres_paiement sans_border">
										<span>Paiement</span>
										<span class="span_tri">
											<a href="#" class="a_tri" data-type="paiement" data-data="ASC">
												<small class="fa fa-sort-asc"></small>
											</a>
											<a href="#" class="a_tri" data-type="paiement" data-data="DESC">
												<small class="fa fa-sort-desc"></small>
											</a>
										</span>
									</div>
								</div>
							</div>
							<div class="table_body liste_pf" id="body_recette">
								
							</div>
						</div>
					</div>	
					{# depense #}
					<div class="tableau_tropical tableau_scroll" id="tableau_depense">
						<div class="table_content">
							<div class="table_header">
								<div class="t_header_row t_header_trans t_header_tres">
									<div class="tres_date">
										<span>Date</span>
									</div>
									<div class="tres_des">
										<span>Désignation</span>
									</div>
									<div class="tres_idPro">
										<span>N° de compte</span>
									</div>
									<div class="tres_sage">
										<span>N° Sage</span>
									</div>
									<div
										class=" tres_client">
										
										<span>Fournisseur</span>
									</div>
									<div class="tres_mode_p">
										<span>Mode de paiement</span>
									</div>
									<div class="tres_compte_b">
										<span>Compte bancaire</span>
									</div>
									<div class="tres_monnaie">
										<span>Monnaie</span>
									</div>
									<div class="tres_paiement sans_border">
										<span>Paiement</span>
										<span class="span_tri">
											<a href="#" class="a_tri" data-type="paiement" data-data="ASC">
												<small class="fa fa-sort-asc"></small>
											</a>
											<a href="#" class="a_tri" data-type="paiement" data-data="DESC">
												<small class="fa fa-sort-desc"></small>
											</a>
										</span>
									</div>
								</div>
							</div>
							<div class="table_body liste_pf" id = "body_depense">
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		<!-- / contenue  -->
	</section>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/cleave.min.js') }}"></script>
	<script>
		$(document).ready(function(){
			function lister_data_recette(){
				var data = {
					"date1" : $("#date1").val(),
					"date2" : $("#date2").val()
				};
				var url = "{{ path('lister_data_recette') }}";
				var ajax = $.post(url, data, function(data){
					$('#body_recette').html(data);
				})
				ajax.fail(function() {
					alert('erreur au niveau de aff data recette')
				})
			}

			function lister_data_depense(){
				var data = {
					"date1" : $("#date1").val(),
					"date2" : $("#date2").val()
				};
				var url = "{{ path('lister_data_depense') }}";
				var ajax = $.post(url, data, function(data){
					$('#body_depense').html(data);
				})
				ajax.fail(function() {
					alert('erreur au niveau de aff data depense')
				})
			}
			lister_data_recette();
			lister_data_depense();
			// annimation tableau
			$('#btn_recette').on('click', function(ev){
				ev.preventDefault();
				if($(this).hasClass('btn_gris')){

					$(this).removeClass('btn_gris');
					$(this).addClass('btn_dore');

					if($('#btn_depense').hasClass('btn_dore')){
						$('#btn_depense').removeClass('btn_dore');
						$('#btn_depense').addClass('btn_gris');
					}
				}
				else{

					$(this).removeClass('btn_dore');
					$(this).addClass('btn_gris');

					if($('#btn_depense').hasClass('btn_dore')){
						$('#btn_depense').removeClass('btn_gris');
						$('#btn_depense').addClass('btn_dore');
					}
				}
				// aff de tableau recette
				$('#tableau_depense').fadeOut('fast');
				$('#tableau_recette').fadeIn('slow');
				$('#select_tres').val("recette").trigger('change');
			})
			$('#btn_depense').on('click', function(ev){
				ev.preventDefault();
				if($(this).hasClass('btn_gris')){

					$(this).removeClass('btn_gris');
					$(this).addClass('btn_dore');

					if($('#btn_recette').hasClass('btn_dore')){
						$('#btn_recette').removeClass('btn_dore');
						$('#btn_recette').addClass('btn_gris');
					}
				}
				else{

					$(this).removeClass('btn_dore');
					$(this).addClass('btn_gris');

					if($('#btn_recette').hasClass('btn_dore')){
						$('#btn_recette').removeClass('btn_gris');
						$('#btn_recette').addClass('btn_dore');
					}
				}
				// aff de tableau depense
				$('#tableau_recette').fadeOut('fast');
				$('#tableau_depense').fadeIn('slow');
				$('#select_tres').val("depense").trigger('change');
			})
			// trier_by_btn_ok
			$('#trier_by_btn_ok').on('click', function(ev){
				ev.preventDefault();
				lister_data_recette();
				lister_data_depense();
			})
			$('#action_hide_form').on('click', function(ev){
				ev.preventDefault();
				$('#formulaire').addClass('form_hide');
			})

			$('#show_formulaire').on('click', function(ev){
				ev.preventDefault();
				$('#formulaire').removeClass('form_hide');
			})

			/* formulaire */

				$('#formulaire form input').on('focus', function(){
					$('#error_form').slideUp();
				})

				function formater_form() {
					if($('#select_tres').val() == 'depense'){
						$('.form_recette').fadeOut();
						$('.form_depense').fadeIn();
					}
					else if($('#select_tres').val() == 'recette'){
						$('.form_depense').fadeOut();
						$('.form_recette').fadeIn();
					}
				}
				formater_form();
				$('#select_tres').on('change', function(){
					var val = $(this).val();
					if(val == 'depense'){
						$('.form_recette').fadeOut();
						$('.form_depense').fadeIn();
					}
					else if(val == 'recette'){
						$('.form_depense').fadeOut();
						$('.form_recette').fadeIn();
					}
				})



				$('#ajout_tres').on('click', function(ev){
					ev.preventDefault();
					if(
						$("#date").val() == "" || $("#designation").val() == "" || $('#sage').val() =="" ||
						$('#mode_pmt').val() == "" || $("#compte_b").val() =="" || $('#paiement').val() == ""
						|| $('#monnaie').val() == ""
					){
						$("#error_form").slideDown();
						$("#error_form p").text('Veuillez remplir tous les champs')
					}
					else if(
						$("#date").val() != "" && $("#designation").val() != "" && $('#sage').val() !="" &&
						$('#mode_pmt').val() != "" && $("#compte_b").val() !="" && $('#paiement').val() != ""
						&& $('#monnaie').val() != ""
					){
						var data = {
							"choix" 		: $('#select_tres').val(),
							"date"			: $("#date").val(),
							"designation"	: $("#designation").val(),
							"num_compte"	: $('#num_compte').val(),
							"fournisseur"	: $('#fournisseur').val(),
							"sage"			: $('#sage').val(),
							"mode_pmt"		: $('#mode_pmt').val(),
							"compte_b"		: $("#compte_b").val(),
							"paiement"		: $('#paiement').val(),
							"id_pro"		: $("#id_pro").val(),
							"client"		: $('#client').val(),
							"monnaie"		: $('#monnaie').val()

						}
						
						// ajax

						var jqxhr = $.post("/profile/add_tres", data, function(data){
							
						})

						jqxhr.done(function(data){
							$('.form_rec_dep form')[0].reset();
							$('#date1').val('');
							$('#date2').val('');
							lister_data_recette();
							lister_data_depense();
						})
						jqxhr.fail(function(){
							alert('erreur au niveau de add tres')
						})
						// jqxhr.always(function(data){
						// 	alert(data + "always")
						// })
					}
				})
				var n = document.querySelector("#paiement");
					new Cleave(n, { // prefix: 'Ar ',
						numeral: true,
						delimiter: [' '],
						numeralThousandsGroupStyle: 'thousand',
						numericOnly: true
					});
				new Cleave('#paiement', {blocks: null});
			/* fin formulaire */
		})
	</script>
{% endblock %}


