<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="example-wrapper">
	<h1>Hello
		{{ controller_name }}! ✅</h1>

	This friendly message is coming from:
	<form action="/test" method="POST">
		<input type="text" name="nom">
        <input type="date" name="date_a">
		<input type="date" name="date_d">
		
		<button type="submit">AO</button>
	</form>
</div>

</body>
</html>