<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export pdf donnée du jour</title>
    <link rel="stylesheet" href="{{ asset('css/pdf.css') }}">
</head>
<body>
    <section id="corps">
        <header>
            <h2 class="titre dore">Donnée du jour</h2>
            <h2 class="titre gris">27/04/2021</h2>
        </header>
        <div class="rubric">
            <h3 class="titre_rubric">Hébergement</h3>
            <div class="content">
                <p class="heb">Chiffre d'affaire: <span class="montant">1000000</span>Ar</p>
                <p class="heb">Taux d'occupation: <span>100</span>%</p>
                <p class="heb">Nombre de pax hébergé: <span>60</span></p>
                <p class="heb">Nombre de chambre occupés <span>40</span></p>
            </div>
        </div>
        <div class="rubric">
            <h3 class="titre_rubric">Restaurant</h3>
            <div class="content">
                <p class="resto">Chiffre d'affaire: <span class="montant">1000000</span>Ar</p> 
                <p class="resto">Nombre de couvert: <span>100</span></p>
                <p class="resto">Petit déjeuner: <span>60</span></p>
                <p class="resto">Déjeuner <span>40</span></p>
                <p class="resto">Dinner <span>40</span></p>
            </div>
        </div>
        <div class="rubric">
            <h3 class="titre_rubric">Spa</h3>
            <div class="content">
                <p class="spa">Chiffre d'affaire: <span class="montant">1000000</span>Ar</p> 
                <p class="spa">Nombre d'abonné: <span>100</span></p>
                <p class="spa">Fréquentation: <span>60</span></p>
            </div>
        </div>
        <div class="rubric">
            <h3 class="titre_rubric">Compte rendu journalier</h3>
            <div class="content_part_text">
                <div class="part">
                    <h4>Direction</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Service RH</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Commercial</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Comptable</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Réception</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Restaurant</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Spa</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Service technique</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Litiges</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
                <div class="part">
                    <h4>Hébergement</h4>
                    <p class="part_content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consectetur labore, nostrum, e
                        sse eius obcaecati, ratione earum doloribus nihil libero fugiat quaerat aut quae quod sequi. 
                        Quidem laudantium explicabo perferendis?
                    </p>
                </div>
            </div>
        </div>
        <div class="rubric">
            <h3 class="titre_rubric">Client présent le <span>27 Avril 2021</span></h3>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="nom">NOM</th>
                            <th>DATE D'ARRIVEE</th>
                            <th>DATE DU DEPART</th>
                            <th>DUREE DU SEJOUR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="nom">Rakoto be</td>
                            <td>24/04/2021</td>
                            <td>24/04/2021</td>
                            <td><span>5</span>jours</td>
                        </tr>
                        <tr>
                            <td class="nom">Rakoto be</td>
                            <td>24/04/2021</td>
                            <td>24/04/2021</td>
                            <td><span>5</span>jours</td>
                        </tr>
                        <tr>
                            <td class="nom">Rakoto be</td>
                            <td>24/04/2021</td>
                            <td>24/04/2021</td>
                            <td><span>5</span>jours</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>