<div>
	<table class="display" style="width: 100%" id="tableau_client_donnee_jour">
		<thead>
			<tr>
				<td>
					<span>NOM</span>
				</td>
				<td>
					<span>CHECK IN</span>
				</td>
				<td>
					<span>CHECK OUT</span>
				</td>
				<td>
					<span>PROVENANCE</span>
				</td>
				<td>
					<span>SOURCE</span>
				</td>
				<td>
					<span>NBR NUITE</span>
				</td>
				<td>
					<span>NBR CHAMBRE</span>
				</td>
				<td>
					<span>PRIX TOTAL</span>
				</td>
				<td>
					<span>ACTIONS</span>
				</td>
			</tr>
		</thead>
		<tbody id="tbody_load"></tbody>
	</table>
</div>
